{{#if addNewAnswer}}
  <div class="answer-form">
    <h3>Answer Question</h3>
    <form>

      <div class="form-group">
        <label for="author">Your name?</label><br>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Answer</label><br>
        {{input value=content id="content"}}
      </div>

      <button {{action 'saveAnswer'}}>Submit</button>
      <button {{action 'answerFormHide'}}>Cancel</button>

    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>Answer</button>
{{/if}}
