{{#if addNewQuestion}}
  <h3>What's your question?</h3>
  <div>
    <form>

      <div class="form-group">
        <label for="author">Your name?</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="question">Your question?</label>
        {{input value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="notes">Anything else we should know?</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'saveQuestion'}}>Ask!</button>
      <button {{action 'questionFormHide'}}>Cancel</button>

    </form>
  </div>


{{else}}
  <button {{action 'questionFormShow'}}>Ask a question</button>
{{/if}}
