<div class="new-question-container">

  {{#if addNewQuestion}}
  <div class="new-question-form">
    <h3>What's your question?</h3>
      <form>

        <div class="form-group">
          <label for="author">Your name?</label><br>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="question">Your question?</label><br>
          {{input value=question id="question"}}
        </div>

        <div class="form-group">
          <label for="notes">Anything else we should know?</label><br>
          {{input value=notes id="notes"}}
        </div>

        <button {{action 'saveQuestion'}}>Ask!</button>
        <button {{action 'questionFormHide'}}>Cancel</button>

      </form>
    </div>


  {{else}}
    <button id="new-question" {{action 'questionFormShow'}}>Ask a question</button>
  {{/if}}

</div>
